body {
    background-color: #000000;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.principal {
    width: 800px;
    height: 518px;
    margin: auto;
    background: url("/assets/bg.png");
    font-size: 14pt;
    font-weight: bold;
    color: #1D67A6;
}

.buttons {
    width: 637px;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.buttons a {
    display: block;
}

.main_buttons {
    float: left;
    margin-right: 15px;
}

.banners {
    width: 637px;
    margin: auto;
    margin-bottom: 125px;
}

.poesia {
    padding-top: 390px;
    text-align: center;
}

input {
    height: 50px;
    border: 0;
    border-radius: 9px;
    font: 13px/30px "Verdana";
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    vertical-align: middle;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
    -o-transition: background 200ms linear;
    transition: background 200ms linear;
}

.gerarRefrao {
    background: #08A45D;
    margin-left: 105px;
}

.copiar {
    background: #21708B;
}

.fb-comments {
    margin: auto;
    width: 637px;
    display: block!important;
    margin-bottom: 20px;
}

.footer {
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    background: #000000;
}

.contact {
    width: 182px;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    padding-top: 22px;
    color: #3f3f3f;
}